<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome to the Adminka!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}<h1>Oh yeah!!! Adminka works!!!</h1>{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
